<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486620936635-7rk1975e00s8hbcsunef90f6inf2ep6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486620936635-7rk1975e00s8hbcsunef90f6inf2ep6v</string>
	<key>API_KEY</key>
	<string>AIzaSyCyymu_hGwuUZE-cOp9pJrkTAXjCfSgeI8</string>
	<key>GCM_SENDER_ID</key>
	<string>486620936635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NYUiOS.Rhytm</string>
	<key>PROJECT_ID</key>
	<string>rhythm-4586f</string>
	<key>STORAGE_BUCKET</key>
	<string>rhythm-4586f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486620936635:ios:6a5c3ffe0d307729706c9e</string>
	<key>DATABASE_URL</key>
	<string>https://rhythm-4586f.firebaseio.com</string>
</dict>
</plist>